body nav {
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 1.5em;
  padding-left: 1.5em;
  position: fixed;
  top: 0;
  overflow: hidden;
  }

  nav span {
    display: flex;
    flex-direction: row;
    font-family: "Bungee";
    font-size: 50px;
  }

 .right-nav-bar {
  font-size: 20px;
  display:flex;
  flex-direction: column;
 }

 .right-nav-bar i {
  align-self: center;
 }

 .right-nav-bar i:hover {
   font-size: 30px;
 }

