body nav {
  height: 120px;
  background-color: #4056A1;
  color: #FFFF;
  border: dashed;
  border-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 1.5em;
  padding-left: 1.5em;
  }

  nav span {
    display: flex;
    flex-direction: row;
    font-family: "Bungee";
    font-size: 50px;
  }

 .rightNavBar {
  /* border-style: dashed;
  border-color: red; */
  font-size: 20px;
  display:flex;
  flex-direction: column;
 }

 .rightNavBar i {
  align-self: center;
 }

 .rightNavBar i:hover {
   font-size: 30px;
 }

