.new-tweet {
  font-weight: bold;
  width: 90%;
  align-self: center;
}

.new-tweet form {
  display: flex;
  flex-direction: column;
}

.send-tweet {
  display: flex;
  font-family: "Bungee";
  flex-direction: row;
  justify-content: space-between;
  padding-top: 0.5em; 
}

.tweet-text {
  resize: none;
  font-size: 0.9em;
  font-weight: bold;
  background-color: transparent;
  outline: none;
  border: none;
  padding-top: 0.4em;
  border-bottom: solid 0.2em #545149;
  line-height: 1em;
}

button {
  background-color: #4056A1;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 0.6em;
  }

button:hover{
  border: 0.1em solid black;
}

/* This is needed otherwise in Chrome there is an outline when clicked */
button:focus{
  outline: none;
}

/* switching classes between counter neg and pos */
.counter-negative {
  font-size: 1.3em;
  color: rgba(223, 18, 18, 0.925);
}

.counter-positive {
  color: #545149; 
}

.error-display-container {
  width: 90%;
  margin: 0.8em;
  align-self: center;
  display:none
}

.error-display {
  display: flex;
  flex-direction: row;
  color: rgba(223, 18, 18, 0.925);
  font-size: 0.8em;
  font-family: "Bungee";
  font-weight: bold;
  border: solid 0.3em red;
  justify-content: space-between;
  align-items: center;
}