.new-tweet {
  font-weight: bold;
  width: 90%;
  /* border-style: dashed;
  border-color: red; */
  align-self: center;
}

.new-tweet form {
  display: flex;
  flex-direction: column;
}

.sendTweet {
  display: flex;
  font-family: "Bungee";
  flex-direction: row;
  justify-content: space-between;
  /* border-style: dashed;
  border-color: yellow; */
  padding-top: 10px;
  
}

#tweet-text {
  resize: none;
  font-size: 20px;
  font-weight: bold;
  background-color: transparent;
  outline: 0;
  border: 0px;
  padding-bottom: 0;
  border-bottom: 2px solid black;
  
}

button {
  background-color: #4056A1;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  border-radius: 6px;
}

button:hover{
  border: 2px solid black;
}