.new-tweet {
  font-weight: bold;
  width: 90%;
  align-self: center;
}

.new-tweet form {
  display: flex;
  flex-direction: column;
}

.send-tweet {
  display: flex;
  font-family: "Bungee";
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px; 
}

.tweet-text {
  resize: none;
  font-size: 20px;
  font-weight: bold;
  background-color: transparent;
  outline: 0;
  border: 0px;
  padding-bottom: 0;
  border-bottom: solid 4px #545149;;
}

button {
  background-color: #4056A1;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  border-radius: 6px;
  }

button:hover{
  border: 2px solid black;
}

.counter-negative {
  font-size: 30px;
  color: rgba(223, 18, 18, 0.925);
}

.counter-positive {
  color: #545149; 
}

.error-display-hidden {
  width: 90%;
  margin: 20px;
  align-self: center;
  display:none
}

.error-display-visible {
  display: flex;
  flex-direction: row;
  color: rgba(223, 18, 18, 0.925);
  font-size: 20px;
  font-family: "Bungee";
  font-weight: bold;
  border: solid 5px red;
  justify-content: space-between;
  align-items: center;
}